#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Visual Studio Code
.vscode/

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac OSX
.DS_Store
.svn

# Thumbnails
._*

# Crash log files
crash.log

# Ignore CLI configuration files
.terraformrc
terraform.rc
